@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Poppins:wght@400;500;600&family=Roboto:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 2em;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

section {
  background-repeat: no-repeat;
}

.section--py-120 {
  padding: 120px 0;
}

.section--pt-120 {
  padding-top: 120px;
}

.box-header {
  margin-bottom: 80px;
}

.box-header--center {
  text-align: center;
}

.box-header__title {
  position: relative;
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.box-header__title.title--underline:before, .box-header__title.title--underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #1992ec;
  border-radius: 5px;
}
.box-header__title.title--underline:before {
  left: 50%;
  transform: translateX(-50%);
}
.box-header__title.title--underline:after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40px;
}
.box-header__title.title--underline.underline--purle {
  background-color: #009ff5;
}
.box-header__title.title--underline.underline--purle:before, .box-header__title.title--underline.underline--purle:after {
  background-color: #833ce0;
}

p {
  margin-bottom: 10px;
  color: #686b75;
  font-weight: 400;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
li {
  list-style: none;
  padding: 0px 15px;
  color: white;
}
li a {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  line-height: 1.3em;
  font-weight: 500;
  color: #1c223a;
}

.btn {
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  line-height: 32px;
  transition: 0.4s;
}

.btn--green {
  margin-top: 15px;
  line-height: 32px;
  color: white;
  background-color: #10d596;
}

.btn--green:hover {
  background-color: #0ca675;
}

.wrapper {
  overflow: hidden;
}
.wrapper .header {
  align-items: center;
}
.wrapper .header .container .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.wrapper .header .container .header__wrap .navigation {
  display: flex;
  gap: 50px;
}
.wrapper .header .container .header__wrap .navigation .sign-in {
  display: flex;
}
.wrapper .header .container .header__wrap .navigation .sign-in .btn--blue {
  background-color: rgb(53, 74, 151);
  color: white;
  display: inline-block;
}
.wrapper .header .container .header__wrap .navigation .sign-in .btn--blue:hover {
  background-color: #1b254b;
}
.wrapper .header .container .header__wrap .navigation .navigation-items {
  display: flex;
  align-items: center;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}
.wrapper .main {
  background-image: url(../assets/img/shapre-3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.wrapper .main .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, #344998 0%, #23A8E9 100%);
}
.wrapper .main .home-page {
  height: calc(100vh - 94px);
}
.wrapper .main .home-page .container .home-page-wrap {
  display: flex;
  align-items: center;
  height: calc(100vh - 94px);
  justify-content: space-between;
}
.wrapper .main .home-page .container .home-page-wrap .home-page-content {
  font-weight: 500;
  width: 50%;
}
.wrapper .main .home-page .container .home-page-wrap .home-page-content h3 {
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 1.3;
  max-width: 458px;
  color: #fff;
  font-weight: 500;
}
.wrapper .main .home-page .container .home-page-wrap .home-page-content p {
  max-width: 458px;
  color: white;
  font-weight: 400;
}
.wrapper .main .home-page .container .home-page-wrap .home-page-content .btn--green {
  margin-top: 30px;
}
.wrapper .main .home-page .container .home-page-wrap .home-page-img {
  width: 55%;
  vertical-align: middle;
}
.wrapper #service-page {
  text-align: center;
}
.wrapper #service-page .container .service-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #service-page .container .service-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
}
.wrapper #service-page .container .service-page-content {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.wrapper #service-page .container .service-page-content .content-1 {
  width: 360px;
}
.wrapper #service-page .container .service-page-content .content-1 .service-icon {
  padding-bottom: 20px;
}
.wrapper #service-page .container .service-page-content .content-1 h4 {
  font-size: 20px;
}
.wrapper #service-page .container .service-page-content .content-1 p {
  color: #686b75;
}
.wrapper #sales-page .container .sales-page-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper #sales-page .container .sales-page-wrap .sales-page-content {
  width: 50%;
}
.wrapper #sales-page .container .sales-page-wrap .sales-page-content h4 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #1c223a;
}
.wrapper #sales-page .container .sales-page-wrap .sales-page-content p {
  font-weight: 400;
  color: #686b75;
  max-width: 458px;
}
.wrapper #schedules-page .container .schedules-page-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper #schedules-page .container .schedules-page-wrap .schedules-page-content {
  width: 40%;
}
.wrapper #schedules-page .container .schedules-page-wrap .schedules-page-content h6 {
  font-size: 12px;
  color: #1992ec;
}
.wrapper #schedules-page .container .schedules-page-wrap .schedules-page-content h4 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #1c223a;
  max-width: 458px;
}
.wrapper #schedules-page .container .schedules-page-wrap .schedules-page-content p {
  font-weight: 400;
  color: #686b75;
  max-width: 458px;
}
.wrapper #features-page .container .features-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #features-page .container .features-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #features-page .container .features-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 60px;
}
.wrapper #features-page .container .features-page-content .content {
  margin-bottom: 60px;
}
.wrapper #features-page .container .features-page-content .content .content-img {
  margin-bottom: 30px;
}
.wrapper #features-page .container .features-page-content .content h5 {
  font-size: 16px;
  font-weight: 600;
  color: #1c223a;
}
.wrapper #features-page .container .features-page-content .content p {
  color: #686b75;
  font-weight: 400;
  max-width: 263px;
}
.wrapper #testimonial-page .container .testimonial-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #testimonial-page .container .testimonial-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #testimonial-page .container .slider-wrap {
  max-width: 945px;
  overflow: hidden;
}
.wrapper #testimonial-page .container .slider-wrap .slider {
  display: flex;
  width: 500%;
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap {
  display: flex;
  justify-content: center;
  animation: carousel 5s linear infinite;
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap .carousel-item {
  text-align: center;
  padding: 30px;
  margin: 30px 90px;
  box-shadow: 0 0 30px 0 rgba(177, 177, 177, 0.2);
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap .carousel-item .quote-img {
  margin-bottom: 20px;
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap .carousel-item .content {
  max-width: 705px;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 30px;
  font-weight: 400;
  color: #1c223a;
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap .carousel-item .name {
  font-size: 16px;
  font-weight: 500;
  color: #1c223a;
  margin-bottom: 0;
}
.wrapper #testimonial-page .container .slider-wrap .slider .item-wrap .carousel-item .position {
  font-size: 14px;
  color: #686b75;
}
.wrapper #price-page .container .price-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #price-page .container .price-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #price-page .container .price-page-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrapper #price-page .container .price-page-content .price-detail {
  width: 360px;
  padding: 60px 30px;
  box-shadow: 0 0 50px 0 rgba(177, 177, 177, 0.2);
}
.wrapper #price-page .container .price-page-content .price-detail .price-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #009ff5;
}
.wrapper #price-page .container .price-page-content .price-detail .price-rate {
  font-weight: 500;
  line-height: 1.5em;
  font-size: 60px;
  color: #1c223a;
}
.wrapper #price-page .container .price-page-content .price-detail .price-time {
  font-weight: 500;
  font-size: 24px;
  color: #1c223a;
}
.wrapper #price-page .container .price-page-content .price-detail .price-content {
  margin: 30px 0;
  color: #686b75;
}
.wrapper #price-page .container .price-page-content .price-detail .price-content ul {
  list-style: none;
}
.wrapper #price-page .container .price-page-content .price-detail .price-content ul li {
  color: #686b75;
}
.wrapper #price-page .container .price-page-content .price-detail .btn__price {
  background-color: transparent;
  color: #0297f3;
  text-decoration: none;
  line-height: 32px;
}
.wrapper #video-page .container .video-wrap {
  text-align: center;
}
.wrapper #video-page .container .video-wrap .video-box {
  position: relative;
  z-index: 1;
}
.wrapper #video-page .container .video-wrap .video-box img {
  max-width: 750px;
  height: auto;
  vertical-align: middle;
}
.wrapper #video-page .container .video-wrap .video-box .wave-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapper #video-page .container .video-wrap .video-box .btn-play {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #52ADEF;
  color: white;
  border-radius: 100%;
  z-index: 2;
}
.wrapper #team-page .container .team-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #team-page .container .team-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #team-page .container .team-page-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrapper #team-page .container .team-page-content .content-row .team-photo {
  display: inline-block;
  text-align: center;
  justify-content: center;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #f9ebff;
  box-shadow: 0 0 50px 0 rgba(177, 177, 177, 0.2);
}
.wrapper #team-page .container .team-page-content .content-row .team-photo img {
  width: 100%;
  padding-top: 30px;
}
.wrapper #team-page .container .team-page-content .content-row .team-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper #team-page .container .team-page-content .content-row .team-content h4::before,
.wrapper #team-page .container .team-page-content .content-row .team-content h4::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #833ce0;
}
.wrapper #team-page .container .team-page-content .content-row .team-content h4::before {
  width: 8px;
  height: 8px;
  bottom: -3px;
  left: calc(50% - 4px);
}
.wrapper #team-page .container .team-page-content .content-row .team-content h4::after {
  height: 1px;
  width: 60px;
  bottom: 0;
  left: calc(50% - 30px);
}
.wrapper #team-page .container .team-page-content .content-row .team-content p {
  font-size: 14px;
  color: #686b75;
}
.wrapper #team-page .container .team-page-content .content-row .team-content .team-social {
  width: 262px;
  display: inline-block;
  justify-content: space-between;
}
.wrapper #team-page .container .team-page-content .content-row .team-content .team-social a {
  width: 35px;
  height: 35px;
  line-height: 34px;
  background-color: white;
  display: inline-block;
  border-radius: 50px;
}
.wrapper #contact-page .container .contact-page-title {
  padding-bottom: 80px;
}
.wrapper #contact-page .container .contact-page-title h4 {
  position: relative;
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.wrapper #contact-page .container .contact-page-title h4::before,
.wrapper #contact-page .container .contact-page-title h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #1992ec;
  border-radius: 5px;
}
.wrapper #contact-page .container .contact-page-title h4::before {
  left: 50%;
  transform: translateX(-50%);
}
.wrapper #contact-page .container .contact-page-title h4::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40px;
}
.wrapper #contact-page .container .contact-page-title .contact-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #contact-page .container .contact-page-title .contact-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #contact-page .container .contact-page-content {
  display: block;
}
.wrapper #contact-page .container .contact-page-content .contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}
.wrapper #contact-page .container .contact-page-content .contact-info .contact-infor-detail {
  display: flex;
  flex-direction: column;
}
.wrapper #contact-page .container .contact-page-content .contact-info .contact-infor-detail label {
  font-size: 12px;
  font-weight: 700;
  color: #686b75;
}
.wrapper #contact-page .container .contact-page-content .contact-info .contact-infor-detail input {
  width: 100%;
  padding: 13px;
  border-radius: 2px;
  border: 1px solid #DDE4F4;
  outline: none;
  color: #001157;
  background-color: white;
}
.wrapper #contact-page .container .contact-page-content .contact-website {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.wrapper #contact-page .container .contact-page-content .contact-website label {
  font-size: 12px;
  font-weight: 700;
  color: #686b75;
}
.wrapper #contact-page .container .contact-page-content .contact-website input {
  width: 100%;
  padding: 13px;
  border-radius: 2px;
  border: 1px solid #DDE4F4;
  outline: none;
  color: #001157;
  background-color: white;
}
.wrapper #contact-page .container .contact-page-content .contact-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.wrapper #contact-page .container .contact-page-content .contact-message label {
  font-size: 12px;
  font-weight: 700;
  color: #686b75;
}
.wrapper #contact-page .container .contact-page-content .contact-message textarea {
  width: 100%;
  padding: 13px;
  border-radius: 2px;
  border: 1px solid #DDE4F4;
  outline: none;
  color: #001157;
  background-color: white;
}
.wrapper #contact-page .container .contact-page-content .btn__submit {
  background-color: transparent;
  color: #0297f3;
  border: 2px solid #0297f3;
  line-height: 32px;
}
.wrapper #faq-page .container .faq-page-title {
  padding-bottom: 80px;
}
.wrapper #faq-page .container .faq-page-title h4 {
  position: relative;
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.wrapper #faq-page .container .faq-page-title h4::before,
.wrapper #faq-page .container .faq-page-title h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #833ce0;
  border-radius: 5px;
}
.wrapper #faq-page .container .faq-page-title h4::before {
  left: 50%;
  transform: translateX(-50%);
}
.wrapper #faq-page .container .faq-page-title h4::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40px;
}
.wrapper #faq-page .container .faq-page-title .faq-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #faq-page .container .faq-page-title .faq-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #faq-page .container .faq-page-content {
  display: flex;
}
.wrapper #faq-page .container .faq-page-content .content-left,
.wrapper #faq-page .container .faq-page-content .content-right {
  width: 50%;
  padding: 0 15px;
}
.wrapper #faq-page .container .faq-page-content .content-left .content-column-left,
.wrapper #faq-page .container .faq-page-content .content-left .content-column-right,
.wrapper #faq-page .container .faq-page-content .content-right .content-column-left,
.wrapper #faq-page .container .faq-page-content .content-right .content-column-right {
  margin-bottom: 30px;
}
.wrapper #faq-page .container .faq-page-content .faq-box {
  text-align: center;
  background-color: rgba(130, 81, 188, 0.1);
  padding: 40px 30px;
}
.wrapper #faq-page .container .faq-page-content .faq-box .question-img {
  margin-bottom: 20px;
}
.wrapper #faq-page .container .faq-page-content .faq-box a {
  font-weight: 500;
  color: #579aff;
  text-decoration: none;
}
.wrapper #faq-page .container .faq-page-content .content-detail h4 {
  font-size: 18px;
  font-weight: 600;
}
.wrapper #faq-page .container .faq-page-content .content-detail p {
  font-weight: 400;
  color: #686b75;
  line-height: 2em;
}
.wrapper #trusted-page .container .trusted-page-title {
  padding-bottom: 80px;
}
.wrapper #trusted-page .container .trusted-page-title h4 {
  position: relative;
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.wrapper #trusted-page .container .trusted-page-title h4::before,
.wrapper #trusted-page .container .trusted-page-title h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #833ce0;
  border-radius: 5px;
}
.wrapper #trusted-page .container .trusted-page-title h4::before {
  left: 50%;
  transform: translateX(-50%);
}
.wrapper #trusted-page .container .trusted-page-title h4::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40px;
}
.wrapper #trusted-page .container .trusted-page-title .trusted-page-title-content {
  display: flex;
  justify-content: center;
}
.wrapper #trusted-page .container .trusted-page-title .trusted-page-title-content p {
  color: #686b75;
  font-weight: 400;
  width: 555px;
  text-align: center;
}
.wrapper #trusted-page .container .trusted-page-content {
  text-align: center;
}
.wrapper #trusted-page .container .trusted-page-content .nav-dots input {
  background-color: #e0e0e0;
  color: #0c75ee;
}
.wrapper .footer {
  background-image: url(../assets/img/footer-bg-3.png);
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
}
.wrapper .footer .container .footer-wrapper {
  margin-left: 25%;
  width: 50%;
  text-align: center;
}
.wrapper .footer .container .footer-wrapper h3 {
  color: white;
  font-size: 38px;
}
.wrapper .footer .container .footer-wrapper p {
  color: white;
  padding-bottom: 30px;
}
.wrapper .footer .container .footer-wrapper .email-control {
  position: relative;
  width: 100%;
  height: 60px;
}
.wrapper .footer .container .footer-wrapper .email-control input {
  border: none;
  width: 100%;
  border-radius: 5px;
  color: #354a97;
  height: 60px;
  outline: none;
}
.wrapper .footer .container .footer-wrapper .email-control button {
  background-color: #44bbff;
  position: absolute;
  height: 60px;
  padding: 10px 25px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
  border: none;
  right: 0;
  text-transform: uppercase;
}
.wrapper .footer .container .footer-wrapper .copyright {
  padding-top: 60px;
  color: white;
}/*# sourceMappingURL=style.css.map */